<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{MM-dd HH:mm:ss} %-5level [%thread] %-40logger{15} %msg%n</pattern>
            <!--<pattern>%d{HH:mm:ss} [%8.40t] %-5p %35.35c.%10.10M() - %m%n</pattern>-->
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.aspectj" level="INFO" />
    <logger name="net.datenstrudel.bulbs.core" level="INFO" />
    <logger name="net.datenstrudel.bulbs.core.domain.model.bulb.CmdHwExecutor" level="DEBUG" />
    <logger name="net.datenstrudel.bulbs.core.web.filter" level="INFO" />
    <logger name="net.datenstrudel.bulbs.core.domain.model.messaging" level="info" />
    <logger name="net.datenstrudel.bulbs.core.application.messaging.notification" level="info" />
    <logger name="net.datenstrudel.bulbs.core.application.messaging.notification.infrastructure.NotificationServiceRabbitMq" level="info" />
    <logger name="net.datenstrudel.bulbs.core.application.messaging.notification.handling" level="info" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.beans" level="INFO" />
    <logger name="org.springframework.data" level="info" />
    <!--<logger name="org.springframework.data.mongodb.core.mapping.event" level="warn" />-->
    <logger name="org.springframework.messaging" level="INFO" />
    <logger name="org.springframework.messaging.simp.stomp" level="INFO" />
    <logger name="org.springframework.web.socket" level="INFO" />
    <logger name="org.validation" level="trace" />
    <logger name="org.hibernate.validator" level="debug" />

</configuration>
